@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    /* styling blue horizontal lines */

.button-shadow {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.note-shadow {
  box-shadow: 10px 10px 10px rgba(0, 0,0,0.3);
}

.bg-button {
  background-color: rgb(220 38 38);
}

.bg-navy {
  background-color: rgb(4, 59, 92);
}

.journal {
  height: 800px

}



.bg-day {
  background: linear-gradient(-45deg, #F5E1A2, #FAB972);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

.bg-night {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}



.pattern {
    height: max-content;
    background-image: repeating-linear-gradient(white 0px, white 24px, rgb(220 38 38) 25px);
  }
  
  /* styling text content */
  .content {
    padding-top: 2px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 25px;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 8px;
    white-space: pre-wrap;
  }
}