@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    /* styling blue horizontal lines */
.pattern {
    height: max-content;
    background-image: repeating-linear-gradient(rgb(254 240 138) 0px, rgb(254 240 138) 24px, rgb(220 38 38) 25px);
  }
  
  /* styling text content */
  .content {
    padding-top: 2px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 25px;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 8px;
  }
}